<h1>Acerca De...</h1>
<p>Aplicacion OpenSource creada por <strong>Mateo Aya</strong></p>
<p>Usted es completamente libre de hacer lo que desee con ella</p>
<p>El fin de este proyecto es brindar un alcanze visual de lo que se puede lograr utilizando un framework de desarrollo WEB como lo es Ruby On Rails</p>
<p>La direccion del repositorio es: <a href="https://github.com/Mat24/Curso-Programacion-USC-2014">https://github.com/Mat24/Curso-Programacion-USC-2014</a> </p>
