<h1>Bienvenido a NotesTest</h1>
<h3>Software de administracion de reportes de examenes</h3></p>
<p></p>
<p></p>
<p></p>
<h4>Esta plataforma esta corriendo sobre</h4>
<h4>Ruby: <%="#{RUBY_VERSION}"%> </h4>
<h4>Rails: <%="#{Rails.version}"%> </h4>